h1{
	color: white;
	text-align: center;
	margin-top: 200px;
}

.nav-color{
	background-color: navy;
}

.brand-logo{
	margin-left: 20px;
}


/*About Page Style----------------------------------------*/
p{
	text-align: justify;
}

.about-crn{
	margin-top: 50px;
}

.cards{
	margin-top: 100px;
}

.partner-carousel{
	margin-top: 100px;
}

.form-message{
	margin-bottom: 100px;
}

